window.disqus_shortname = supercommentsConfig.disqus.forum;
window.disqus_identifier = supercommentsConfig.disqus.identifier;

(function() {
  var h = require('hyperscript');

  var configEncoded = btoa(JSON.stringify(supercommentsConfig));

  var div = document.getElementById('supercomments');
  if (div) {
    div.parentNode.replaceChild(
      h('#supercomments',
        h('iframe#supercomments-frame', {
          'data-config': configEncoded,
          attrs: {
            allowtransparency: true,
            frameborder: '0',
            tabindex: '0',
            width: '100%',
            scrolling: 'no',
            horizontalscrolling: 'no',
            verticalscrolling: 'no',
          },
          style: { width: '100% !important', border: 'none !important', overflow: 'hidden !important' }
        }),
        h('#disqus_thread', { style: { 'border-top': '0px', 'padding-top': '0px', 'margin-top': '0px' }}),
        h('#disqusCount.disqus-comment-count', {
          'data-disqus-identifier': (supercommentsConfig.disqus.identifier || ''),
          'data-disqus-url': supercommentsConfig.url,
          style: { display: 'none' }
        }),
        h('noscript', [
          'Please enable JavaScript to view the ',
          h('a', 'comments powered by Disqus.', { href: 'http://disqus.com/?ref_noscript' }) ]),
        h('a.dsq-brlink', { href: 'http://disqus.com' }, [
          'blog comments powered by ',
          h('span.logo-disqus', 'Disqus')
        ]),
        h('#footer', { style: {
            'border-top': '2px solid',
            padding: '24px 0 10px',
            'font-family': 'Helvetica Neue",arial,sans-serif',
            'font-size': '11pt',
            color: 'rgba(0, 39, 59, 0.2)'
          }
        }, [
          'SuperComments ',
          h('a', 'web app development', {
            style: { 'text-decoration': 'underline', color: 'inherit' },
            href: 'https://www.salsitasoft.com/mobile-and-web-apps/solutions/web-apps',
            target: '_blank'
          }),
          ' by the ',
          h('a', 'React developers', {
            style: { 'text-decoration': 'underline', color: 'inherit' },
            href: 'https://www.salsitasoft.com/javascript-engineers/full-stack-development/react',
            target: '_blank'
          }),
          ' of ',
          h('a', 'Salsita Software', {
            style: { 'text-decoration': 'underline', color: 'inherit' },
            href: 'https://www.salsitasoft.com',
            target: '_blank'
          })
        ])
      ), div
    );

    // Inject the HTML
    var iframe = document.getElementById('supercomments-frame');
    var doc = iframe.contentWindow.document;
    doc.open('text/html');
    doc.write(require('./app/html/reddit.html'));
    doc.close();

    // Inject the stylesheet(s)
    var head = doc.getElementsByTagName('head')[0];
    var style = doc.createElement('style');
    style.appendChild(doc.createTextNode(require('raw!./node_modules/react-simpletabs/dist/react-simpletabs.css')));
    head.appendChild(style);
    style = doc.createElement('style');
    style.appendChild(doc.createTextNode(require('raw!./app/css/simpletabs.css')));
    head.appendChild(style);

    // Inject the scripts
    var script = doc.createElement('script');
    script.appendChild(doc.createTextNode(require('raw!./node_modules/jquery/dist/jquery.min.js')));
    head.appendChild(script);

    script = doc.createElement('script');
    script.appendChild(doc.createTextNode(require('raw!./dist/js/supercomments{{suffix}}.js')));
    head.appendChild(script);

    var disqusCount = document.getElementById('disqusCount');
    function getDisqusCount() {
      var countMatch = disqusCount.textContent.match(/[0-9]+/);
      if (countMatch) {
        return parseInt(countMatch[0], 10);
      }
      else {
        return 0;
      }
    }
    var disqusCountObserver = new MutationObserver(function() {
      // Let the frame know when the Disqus count changed
      var count = getDisqusCount();
      if (count) {
        iframe.contentWindow.postMessage({ msg: 'onDisqusCount', count: count }, '*');
      }
    });
    disqusCountObserver.observe(disqusCount, { childList: true });

    // Set up callback for new Disqus comments
    function onNewDisqusComment() {
      var count = getDisqusCount() + 1;
      disqusCount.textContent = count;
      iframe.contentWindow.postMessage({ msg: 'onDisqusCount', count: count }, '*');
    }
    window.disqus_config = function() {
      this.callbacks.onNewComment = [ onNewDisqusComment ];
    }

    // Inject the Disqus count script
    var disqusScript = document.createElement('script');
    disqusScript.async = true;
    disqusScript.type = 'text/javascript';
    disqusScript.src = '//' + supercommentsConfig.disqus.forum + '.disqus.com/count.js';
    (document.getElementsByTagName('head')[0] || document.body).appendChild(disqusScript);

    // Inject the Disqus script
    var disqusScript = document.createElement('script');
    disqusScript.async = true;
    disqusScript.type = 'text/javascript';
    disqusScript.src = '//' + supercommentsConfig.disqus.forum + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.body).appendChild(disqusScript);

    // Watch for Disqus visibility messages from the frame
    var disqus = document.getElementById('disqus_thread');
    window.addEventListener('message', function(message) {
      if (typeof(message.data) === 'object' && ('msg' in message.data)) {
        if (message.data.msg === 'showDisqus') {
          disqus.style.display = 'initial';
          message.source.postMessage({ msg: 'onDisqusShown' }, '*');
        }
        else if (message.data.msg === 'hideDisqus') {
          disqus.style.display = 'none';
        }
      }
    });
  }
})();
